<ol class="breadcrumb">
	<li class="breadcrumb-item"><b><a href="#" onclick="handleMenuClick('device-grid')">Devices</a></b></li>
	<li class="breadcrumb-item active">Manage Device</li>
</ol>
<div class="card mb-3">
	<div class="card-header" style="font-weight: bold;">View Device</div>
	<div class="card-body">
		<div class="custom-card card-body" id="device-tabs"
			style="font-size: 14px; font-family: calibri;">
			<ul>
				<li><a href="#device-info-tab">Device Info</a></li>
				<li><a href="#device-attributes-info-tab">Device Attributes</a></li>
				<li><a href="#device-commands-tab">Commands</a></li>
				<li><a href="#device-events-tab">Events</a></li>
				<li><a href="#device-data-tab">Data</a></li>
			</ul>
			<div id="device-info-tab"></div>
			<div id="device-attributes-info-tab"></div>
			<div id="device-commands-tab"></div>
			<div id="device-events-tab"></div>
			<div id="device-data-tab"></div>
		</div>
	</div>
</div>
</div>

