.bg {
background-image: url('../../../assets/Images/backgroundImage.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 width: 100%; height: 100vh;
}

.form-Container {
padding:30px 50px;
margin-top: 10vh;
margin-bottom: 10vh;
-webkit-box-shadow: 0px 0px 52px 0px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 0px 52px 0px rgba(0,0,0,0.31);
box-shadow: 0px 0px 52px 0px rgba(0,0,0,0.31);
background: rgba(255,255,255,0.4);
border-radius: 5px;
border-top: 5px solid #3f51b5;
}

.example-full-width {
  width: 100%;
} 
