<div class="container bg" style="max-width: 100%">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12"></div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <!--login Form - start-->
        <form class="form-Container">
          <div class="d-flex justify-content-center">
            <h4><i class="fas fa-user-circle fa-4x"></i></h4>
          </div>
          <mat-form-field class="example-full-width" appearance="standard">
                  <mat-label> &nbsp; Username</mat-label>
                  <input matInput placeholder=" Enter User Name" [formControl]="username" class="ml-2">
                  <mat-icon matPrefix ><i class="fa fa-user"></i></mat-icon>
                  <mat-error *ngIf="username.invalid">Username is required</mat-error>
               </mat-form-field>
               <mat-form-field class="example-full-width" appearance="standard">
                  <mat-label>&nbsp; Password</mat-label>
                  <input type="password" matInput placeholder=" Enter Password" [formControl]="password" class="ml-2">
                  <mat-icon matPrefix ><i class="fa fa-lock"></i></mat-icon>
                  <mat-error *ngIf="password.invalid">Password is required</mat-error>
               </mat-form-field>
               <mat-form-field class="example-full-width" appearance="standard">
                  <mat-label> &nbsp; Domain</mat-label>
                  <input matInput placeholder=" Enter Domain" [formControl]="domain" class="ml-2">
                  <mat-icon matPrefix ><i class="fa fa-home"></i></mat-icon>
                  <mat-error *ngIf="domain.invalid">Domain is required</mat-error>
               </mat-form-field>
               <div >
                  <a routerLink="/resetPassword"class="text-body">Forgot Password?</a>
               </div>
               <button mat-raised-button color="primary" class="mt-4 btn-block" (click)="loginSubmit()">Login</button>
        </form>
        <!--login Form - end-->

        <!--forgot password- start-->
        <!--<form class="form-Container">
          <div class="d-flex justify-content-center">
            <h4><i class="fas fa-user-circle fa-4x"></i></h4>
          </div>
          <mat-form-field  appearance="standard">
                  <mat-label> User Name</mat-label>
                  <input matInput placeholder="Enter User Name" [formControl]="username">
                  <mat-icon matPrefix ><i class="fa fa-user"></i></mat-icon>
                  <mat-error *ngIf="username.invalid">User Name is required</mat-error>
               </mat-form-field>
               <mat-form-field appearance="standard">
                  <mat-label> Domain</mat-label>
                  <input matInput placeholder="Enter Domain" [formControl]="domain">
                  <mat-icon matPrefix ><i class="fa fa-home"></i></mat-icon>
                  <mat-error *ngIf="domain.invalid">Domain is required</mat-error>
               </mat-form-field>
               <button mat-raised-button color="primary" class="mt-4 btn-block">Get Question</button>
        </form>-->
        <!--forgot password- end-->

        <!--Get Question- start-->
        <!--<form class="form-Container">
          <div class="d-flex justify-content-center">
            <h4><i class="fas fa-user-circle fa-4x"></i></h4>
          </div>
          <mat-form-field  appearance="standard">
                  <mat-label> What is Your Native Town</mat-label>
                  <input matInput placeholder="Enter User Name" [formControl]="username">
                  <mat-error *ngIf="username.invalid">User Name is required</mat-error>
               </mat-form-field>
               <button mat-raised-button color="primary" class="mt-4 btn-block">Reset Password</button>
        </form>-->
        <!--Get Question- end-->

        <!--<form class="form-Container">
          <div class="d-flex justify-content-center">
            <h4><i class="fas fa-user-circle fa-4x"></i></h4>
          </div>
          <mat-form-field  appearance="standard">
                  <mat-label> User Name</mat-label>
                  <input matInput placeholder="Enter User Name" [formControl]="username">
                  <mat-icon matPrefix ><i class="fa fa-user"></i></mat-icon>
                  <mat-error *ngIf="username.invalid">User Name is required</mat-error>
               </mat-form-field>
               <mat-form-field appearance="standard">
                  <mat-label> Domain</mat-label>
                  <input matInput placeholder="Enter Domain" [formControl]="domain">
                  <mat-icon matPrefix ><i class="fa fa-home"></i></mat-icon>
                  <mat-error *ngIf="domain.invalid">Domain is required</mat-error>
               </mat-form-field>
               <mat-form-field  appearance="standard">
                  <mat-label> Password</mat-label>
                  <input matInput placeholder="Enter Password" [formControl]="password">
                  <mat-icon matPrefix ><i class="fa fa-lock"></i></mat-icon>
                  <mat-error *ngIf="password.invalid">Password is required</mat-error>
               </mat-form-field>
               <mat-form-field  appearance="standard">
                  <mat-label> Confirm Password</mat-label>
                  <input matInput placeholder="Enter Password" [formControl]="password">
                  <mat-icon matPrefix ><i class="fa fa-lock"></i></mat-icon>
                  <mat-error *ngIf="password.invalid">Password is required</mat-error>
               </mat-form-field>
               <mat-form-field>
                 <mat-icon matPrefix ><i class="fa fa-question-circle"></i></mat-icon>
                  <mat-select placeholder="Security Questions">
                    <mat-option>
                      --Select--
                    </mat-option>
                  </mat-select>
                </mat-form-field>
               <mat-form-field  appearance="standard">
                  <input matInput placeholder="Security Answer" [formControl]="securityAns">
                  <mat-icon matPrefix ><i class="fas fa-check-circle"></i></mat-icon>
                  <mat-error *ngIf="password.invalid">Password is required</mat-error>
               </mat-form-field>
               <button mat-raised-button color="primary" class=" btn-block">Reset Password</button>
        </form>-->

      <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12"></div>  
      </div>
    </div>
  </div>
</div>