
<ol class="breadcrumb">
	<li class="breadcrumb-item"><b>Facility</b></li>
</ol>
<div class="card mb-3">
	<div class="card-header" style="font-weight: bold;">Facilities</div>
	<div class="card-body">
		<div class="custom-card card-body">
			<div
				style="width: 10%; margin-left: 90%; padding-bottom: 15px; margin-top: 0px;">
				<a class="btn btn-primary btn-block" href="#"
					onclick="handleMenuClick('facilityadd')">Add New</a>
			</div>

			<div id="facility-content"></div>
		</div>
	</div>
</div>